<ActionBar class="action-bar">
    <NavigationButton (tap)="onBackTap()" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label class="action-bar-title" [text]="item.name"></Label>
</ActionBar>

<GridLayout>
    <ios><img src="res://tabIcons/picture-org-map.png"></ios>
    <Label class="m-10 h3" verticalAlignment="top" [text]="item.description"></Label>
</GridLayout>
